<h2>Hello</h2>

<%= 1+1 %> <br>

<% target = "world" %>

<%= "Hello #{target}" %>

<br>

<% 3.times do |n| %>
    <%= n %> <br>
<% end %>

<h2>Instance variables</h2>

<% @array.each do |n| %>
    <%= n %> <br>
<% end %>

<br>

<%= link_to('Go home', {:action => 'index'}) %>