<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <%= link_to("Add new", new_page_path, class: "action new") %>

      <div class="pages index">
        <h2>Pages</h2>

        <table class="table table-hover">
          <tr>
            <thead>
            <th>#</th>
            <th>Subject ID</th>
            <th>Name</th>
            <th>Permalink</th>
            <th>Visible</th>
            <th>Sections</th>
            <th>Created</th>
            <th>Updated</th>
            <th colspan="3">Actions</th>
            </thead>
          </tr>
          <tbody>
          <% @pages.each do |page| %>
              <tr>
                <td><%= page.position %></td>
                <td><%= page.subject_id %></td>
                <td><%= page.name %></td>
                <td><%= page.permalink %></td>
                <td><%= page.visible ? 'Yes' : 'No' %></td>
                <td><%= page.sections.size %></td>
                <td><%= page.created_at %></td>
                <td><%= page.updated_at %></td>
                <td><%= link_to("Show", page_path(page), class: "action show") %></td>
                <td><%= link_to("Edit", edit_page_path(page), class: "action edit") %></td>
                <td><%= link_to("Delete", delete_page_path(page), class: "action delete") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>