<% @page_title = "All Subjects" %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Subjects</h1>
    <p class="lead">These are all your subjects.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">


      <div class="subjects index">

        <%= link_to("Add new Subject", new_subject_path, :class => 'btn btn-outline-primary') %>

        <table class="table table-hover" summary="Subject list">
          <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Visible</th>
            <th>Pages</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.position %></td>
                <td><%= subject.name %></td>
                <td><%= status_tag(subject.visible) %></td>
                <td><%= subject.pages.size %></td>
                <td><%= link_to("Show", subject_path(subject), :class => "action show") %></td>
                <td><%= link_to("Edit", edit_subject_path(subject), :class => "action edit") %></td>
                <td><%= link_to("Delete", delete_subject_path(subject), :class => "action delete") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>