<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <% if !flash[:notice].blank? %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <div class="subjects index">
        <h2>Subjects</h2>

        <%= link_to("Add new Subject", new_subject_path, :class => 'action new') %>

        <table class="listing" summary="Subject list">
          <tr>
            <thead>
            <th>#</th>
            <th>Subject</th>
            <th>Visible</th>
            <th>Pages</th>
            <th colspan="3">Actions</th>
            </thead>
          </tr>
          <tbody>
          <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.position %></td>
                <td><%= subject.name %></td>
                <td><%= subject.visible ? 'Yes' : 'No' %></td>
                <td><%= subject.pages.size %></td>
                <td><%= link_to("Show", subject_path(subject), :class => "action show") %></td>
                <td><%= link_to("Edit", edit_subject_path(subject), :class => "action edit") %></td>
                <td><%= link_to("Delete", delete_subject_path(subject), :class => "action delete") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>