<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <%= link_to("<< Back to List", subjects_path, :class => "back-link") %>
      <div class="subjects show">
        <h2>Show subject</h2>

        <table class="table table-hover table-striped table-bordered" summary="Subject detail view">
          <tbody>
          <tr>
            <th>Name</th>
            <td><%= @subject.name %></td>
          </tr>
          <tr>
            <th>Position</th>
            <td><%= @subject.position %></td>
          </tr>
          <tr>
            <th>Visible?</th>
            <td><%= @subject.visible ? "Yes" : "No" %></td>
          </tr>
          <tr>
            <th>Created</th>
            <td><%= @subject.created_at %></td>
          </tr>
          <tr>
            <th>Updated</th>
            <td><%= @subject.updated_at %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>